$blue-1: rgba(122,92,254,1);
$blue-2: rgba(55,172,254,1);

$gray-1: #f8f9fd;
$gray-2: #e5e6f9;
$gray-3: #eceff4;
$gray-4: #aab9ca;
$gray-5: #54657e;
$gray-6: #3f4e66;
$gray-7: #f7f9fd;

$banner-bg: linear-gradient(135deg, $blue-1 0%, $blue-2 100%);